// Required
@import "bootstrap/scss/bootstrap";

// Imports
@import "scss/vars";
@import "scss/mixins";
@import "scss/responsive";

html {
    font-family: $font;
    font-size: 16px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
    .navbar-brand {
        font-weight: 700;
        color: white;
        padding-left: 3.125rem;
        &:hover {
            opacity: .75;
        }
    }
    
    #navbarNav {
        font-family: $font-sans;
        position: absolute;
        right: 10.625rem;
        .nav-item {    
            margin-left: 2.5rem;
            .nav-link {
                color: white;
                margin: 0; 
                padding: 0;
                &:hover {
                    opacity: .75;
                }
            }
        }
    }
}

.hero {
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    height: 100vh;
    text-align: center;
    background: url('/images/hero_bg.jpg');
    background: {
        repeat: no-repeat;
        position: center;
        size: cover;
        color: $brown;
        blend-mode: multiply;
    }

    &__container {
        width: 70%;
        h1 {
            @include header-big;
        }
        hr {
           @include separator($orange, 6.25rem);
        }
        p {
            font-family: $font;
            font-weight: 300;
            font-size: 1.125rem;
            line-height: 1.75rem;
            opacity: .75;
        }
        a.btn {
            @include btn($orange, white);
        }
    }
}

.cta {
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: $orange;
    color: white;
    &__container {
        width: 70%;
        margin: 9.375rem 0;
        h1 {
            @include header-medium;
            margin-bottom: 1.875rem;
        }
        hr {
            @include separator(white, 6.25rem);
            margin-bottom: 1.875rem;
        }
        p {
            font-family: $font;
            font-weight: 300;
            font-size: 1.125rem;
            line-height: 1.75rem;
            opacity: .5;
            margin-bottom: 1.875rem;
        }
        a.btn {
            @include btn(white, $orange);
            color: black;
        }
    }
}

.services {
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 6.25rem 0;
    background-color: white;
    &__heading {
        h1 {
            @include header-medium;
        }
        hr {
            @include separator($orange, 2.5rem);
        }
    }
    &__container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 90%;
        .service__container {
            vertical-align: baseline;
            margin: 2.5rem 0;
            .icon {
                color: $orange;
                font: {
                    weight: 900;
                    size: 4rem;
                    line-height: 64;
                }
            }
            h1 {
                font-family: $font-sans;
                font-weight: 500;
                font-size: 1.5rem;
                line-height: 1.8125rem;
            }
            p {
                @include header-small;
                opacity: .75;
            }
        }
    }
}

.gallery {
    background-color: #333940;
    &__items {
        display: flex;
        flex-flow: row wrap;
        img {
            width: 33.3333%;
        }
    }
    &__info {
        display:flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 6.25rem 0;
        h1 {
            @include header-medium;
            color: white;
        }
        a {
            @include btn(white, black);
        }
    }
}

.contacts {
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 9.375rem 0;
    background-color: white;
    &__heading {
        h1 {
            @include header-medium;
        }
        hr {
            @include separator($orange, 2.5rem);
        }
        p {
            @include header-small;
            opacity: .75;
        }
    }
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .contact {
            padding: 1.25rem 9.375rem;
            .icon {
                color: $gray-700;
                font: {
                    weight: 900;
                    size: 4rem;
                    line-height: 64;
                }
            }
            &:nth-child(2) p {
                color: $orange;
            }
        }  
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    padding: 1.875rem 0;
    & p {
        margin: auto 0;
    }
}


// Responsive
@include media-breakpoint-down(xs) {
    body {
        background-color: black;
    }
    .navbar {
        .navbar-brand {
            visibility: hidden;
        }
        #navbarNav {
            position: static;
        }
    }
    .hero {    
        height: 100%;
        &__container {
            padding: 6.25rem 0;
            h1 {
                font-size: 2.2rem;
            }
            p {
                font-size: .9rem;
            }
            a.btn {
                font-size: .7rem;
            }
        }
    }
    .services {
        &__container {
            flex-flow: column nowrap;
            width: 50%;
        }
    }
    .gallery {
        &__items {
            display: flex;
            flex-flow: column wrap;
            img {
                width: 100%;
            }
        }
    }
    .contacts {
        width: 100%;
        padding: 3.125rem 3.125rem;
        overflow: hidden;
        &__heading {
            h1 {
                font-size: 2.4rem;
            }
            p {
                font-size: 1.1rem;
            }
            a.btn {
                font-size: .9rem;
            }
        }
        &__container {
            flex-direction: column;
        }
    }
    .footer {
        padding: 1rem 0;
        & p {
            margin: auto 0;
        }
    }
}

@include media-breakpoint-only(sm) {
    body {
        background-color: red;
    }
    .navbar {
        .navbar-brand {
            visibility: hidden;
        }
        #navbarNav {
            position: static;
        }
    }
    .hero {    
        height: 100%;
        &__container {
            padding: 6.25rem 0;
            h1 {
                font-size: 2.2rem;
            }
            p {
                font-size: .9rem;
            }
            a.btn {
                font-size: .7rem;
            }
        }
    }
    .services {
        &__container {
            flex-flow: row wrap;
            .service__container {
                width: 50%;
            }
        }
    }
    .gallery {
        &__items {
            display: flex;
            flex-flow: row wrap;
            img {
                width: 50%;
            }
        }
    }
    .contacts {
        width: 100%;
        overflow: hidden;
        &__container {
            flex-direction: column;
        }
    }
    .footer {
        padding: 1rem 0;
        & p {
            margin: auto 0;
        }
    }
}

@include media-breakpoint-only(md) {
    body {
        background-color: blue;
    }
    .navbar {
        .navbar-brand {
            visibility: visible;
        }
        #navbarNav {
            position: absolute;
            right: 170px;
        }
    }
    .services {
        &__container {
            flex-flow: row wrap;
            .service__container {
                width: 25%;
            }
        }
    }
    .contacts {
        width: 100%;
        overflow: hidden;
        &__container {
            flex-direction: row;
        }
    }
        
}
@include media-breakpoint-only(lg) {
    body {
        background-color: green;
    }
    .hero {
        height: 100vh;
    }
    .gallery {
        &__items {
            display: flex;
            flex-flow: row wrap;
            img {
                width: 33.3333%;
            }
        }
    }
}
@include media-breakpoint-only(xl) {
    body {
        background-color: yellow;
    }
    .services {
        &__container {
            flex-flow: row wrap;
            .service__container {
                width: 25%;
            }
        }
    }
}