// Required
@import "bootstrap/scss/bootstrap";
@import "scss/mixins";
@import "scss/vars";

html {
    font-family: $font;
}

.navbar {
    background-color: white;
    .navbar-brand {
        font-weight: 700;
        color: $gray-700;
        margin-left: 50px;
        &:hover {
            color: white;
        }
    }
    
    #navbarNav {
        font-family: $font-sans;
        position: absolute;
        right: 170px;
    
        .nav-item {    
            margin-left: 40px;
            .nav-link {
                color: $gray-700;
                margin: 0; 
                padding: 0;
                &:hover {
                    color: white;
                }
            }
        }
    }
}

.hero {
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    height: 100vh;
    background: url('/images/hero_bg.jpg');
    background: {
        repeat: no-repeat;
        position: center;
        size: cover;
        color: $brown;
        blend-mode: multiply;
    }
    text-align: center;

    &__container {
        width: 70%;
        h1 {
            @include header-big;
        }
        hr {
           @include separator($orange, 100px);
        }
        p {
            font-family: $font;
            font-weight: 300;
            font-size: 18px;
            line-height: 28px;
            opacity: .75;
        }
        a.btn {
            @include btn($orange, white);
        }
    }
}

.cta {
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: $orange;
    color: white;
    &__container {
        width: 70%;
        margin: 150px 0;
        h1 {
            @include header-medium;
            margin-bottom: 30px;
        }
        hr {
            @include separator(white, 100px);
            margin-bottom: 30px;
        }
        p {
            font-family: $font;
            font-weight: 300;
            font-size: 18px;
            line-height: 28px;
            opacity: .5;
            margin-bottom: 30px;
        }
        a.btn {
            @include btn(white, $orange);
            color: black;
        }
    }
}

.services {
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px 0;
    &__heading {
        h1 {
            @include header-medium;
        }
        hr {
            @include separator($orange, 40px);
        }
    }
    &__container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 90%;
        .service__container {
            vertical-align: baseline;
            margin: 40px 0px;
            .icon {
                color: $orange;
                font: {
                    weight: 900;
                    size: 64px;
                    line-height: 64;
                }
            }
            h1 {
                font-family: $font-sans;
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
            }
            p {
                @include header-small;
                opacity: .75;
            }
        }
    }
}

.gallery {
    background-color: #333940;
    &__items {
        display: flex;
        flex-flow: row wrap;
        img {
            width: 33.3333%;
        }
    }
    &__info {
        display:flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 100px 0;
        h1 {
            @include header-medium;
            color: white;
        }
        a {
            @include btn(white, black);
        }
    }
}

.contacts {
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 150px 0;
    &__heading {
        h1 {
            @include header-medium;
        }
        hr {
            @include separator($orange, 40px);
        }
        p {
            @include header-small;
            opacity: .75;
        }
    }
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .contact {
            padding: 20px 150px;
            .icon {
                color: $gray-700;
                font: {
                    weight: 900;
                    size: 64px;
                    line-height: 64;
                }
            }
            &:nth-child(2) p {
                color: $orange;
            }
        }  
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    padding: 30px 0;
    & p {
        margin: auto 0;
    }
}