@mixin toggle-switch($size: 20px, $color1: #d3d6d8, $color2: #3556ec) {
    .toggle-switch {
        // HTML
        // <div class="toggle-switch">
        //     <label class="switch">
        //     <input type="checkbox">
        //     <span class="slider slider--round"></span>
        //     </label>
        // </div> 
        .switch {
            position: relative;
            width: $size * 2;
            height: $size;
            input {
                opacity: 0;
                width: 0;
                height: 0;

                &:checked + .slider {
                    background-color: darken($color1, 17%);
                }
                &:checked + .slider::before {
                    transform: translateX($size * 2 - ($size * .8 + (($size * .8) / 2) - $size * .2));
                    background-color: $color2;                    
                }
            }
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                background-color: $color1;
                transition: .4s ease; 

                &:before {
                    position: absolute;
                    content: "";
                    height: $size * .8 !important;
                    width: $size * .8 !important;
                    left: $size * .1 !important;
                    bottom: $size * .1 !important;
                    
                    background-color: darken($color1, 25%);
                    transition: .1s ease-in-out;
                }
                &--round {
                    border-radius: $size;
                }
                &--round::before {
                    border-radius: 50%;
                }
            }
        }
    }
}